#test-button:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}

th {
  background-color: black;
  color: white;
  border: 3px solid white;
}

table,
td {
  border: 1px solid white;
}

tr:nth-child(even) {
  background-color: lightgray;
}
