.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
}

#bulbasaur {
  position: relative;
}

#charmander {
  position: relative;
  top: 20px;
}

#squirtle {
  position: relative;
  top: 60px;
}

#pikachu {
  position: relative;
  top: 140px;
}

#jigglypuff {
  position: relative;
  top: 280px;
}
