.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-onethird {
  flex-basis: calc(100% / 3);
}

.column-onefourth {
  flex-basis: 25%;
}

.column-twothirds {
  flex-basis: 66%;
}

.image {
  width: 100%;
}
